html, body {
    height: 100vh;
   
    
}




.container-fill{
    min-height: 100vh;
    height: 100vh;
    position: relative;
}


/*fonts begin*/
@font-face {
    font-family: hack-regular;
    src: url('../fonts/hack/Hack-Regular.ttf');
}
@font-face {
    font-family: rubik-regular;
    src: url('../fonts/rubik/Rubik-Regular.ttf');
}
@font-face {
    font-family: rubik-light;
    src: url('../fonts/rubik/Rubik-Light.ttf');
}

.rubik{
    font-family: rubik-regular;
}
.hack{
    font-family: hack-regular;
}
/*fonts end*/

/*navbar*/
.navbar-transparent {
    background: transparent;
}
nav{
    max-height: 10vh;
}
/*navbar ends*/

.landing-container {
    background-image: url("/public/assets/img/landing_background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    position: relative;
    max-height: 90vh !important;
    padding-top: 10%;
}
.layer {
    background-color: rgba(0,121,107, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* colors and backgrouds */

.teal-bg{
    background: #00796b;
}

.txt-white{
    color: white;
}
.txt-teal{
    color: #00796b;
}
/*color and backgrouds ends*/

.contianer-logo{

    margin-top: 50% !important;
}

.center{
    text-align: center !important;
}



/* animation */
.jiggle-animation{
    -webkit-animation-name: jiggle-motion; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: jiggle-motion;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes jiggle-motion {
    0%   { top:0px;}
    50%  {top: 25px;}
    100% {  top:0px;}
  }
  
  /* Standard syntax */
  @keyframes jiggle-motion {
    0%   { top:0px;}
    50%  {top: 25px;}
    100% {  top:0px;}
  }