html, body {
    max-height: 100vh;
    max-width: 100vw;
    
}


/*navbar*/
.navbar-transparent {
    background: #00796b;
}

/*navbar ends*/

/* colors */

.teal-bg{
    background: #00796b;
}

.txt-white{
    color: white !important;
}
.txt-teal{
    color: #00796b !important;
}
.layer {
    background-color: rgba(0,121,107, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*color ends*/



/*fonts begin*/
@font-face {
    font-family: hack-regular;
    src: url('../fonts/hack/Hack-Regular.ttf');
}
@font-face {
    font-family: rubik-regular;
    src: url('../fonts/rubik/Rubik-Regular.ttf');
}
@font-face {
    font-family: rubik-light;
    src: url('../fonts/rubik/Rubik-Light.ttf');
}

.rubik{
    font-family: rubik-regular;
}
.hack{
    font-family: hack-regular;
}
/*fonts end*/

/* containers */
.landing-container {
    background-image: url("/public/assets/img/landing_background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    position: relative;
    max-height: 100vh;
    min-height: 100vh;
    position: relative;
}

#section-1{
    height: 30vh;
}
#section-2{
    max-height: 70vh;
    background-size: 100vw;
    min-height: 70vh;
    background-color: #00796b;
}
#section-3{
   height: 100vh;
}
/* containers */


/* animation */
.jiggle-animation{
    -webkit-animation-name: jiggle-motion; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: jiggle-motion;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes jiggle-motion {
    0%   { top:0px;}
    50%  {top: 25px;}
    100% {  top:0px;}
  }
  
  /* Standard syntax */
  @keyframes jiggle-motion {
    0%   { top:0px;}
    50%  {top: 25px;}
    100% {  top:0px;}
  }
  /*anitmation ends*/